/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 12, 2021, 2:43:26 PM
    Author     : Acer
*/

/*=========CONTENT=========*/

/*==index==*/
#jumbotron{
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-size: auto;
}

#jumbotron .container {
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.info{
    color: black;
    margin-left: 50px;
}
.info p {
    font-size: 24px  !important; 
    font-family: 'Sansita Swashed', cursive;
}
h1 {
    font-weight: 700 !important;
    font-family: 'Sansita Swashed', cursive;
    font-size: 65px  !important; 
    color: white;
}
.info .ten-ct {
    color: #f2c26f;
}
.info-sec > div > h3{
    border-bottom: 2px solid #13A211;
    color: #13A211;
    font-size: 35px;
    padding-bottom: 5px;
}
.info-sec .so-luong-tour{

    color: #00c1de;
    font-size: 20px;
}

.pagination li > a{
    font-weight: bold;
    color: #00c1de!important;
}
.info-location {
    min-height: 300px!important;
    max-width: 600px!important;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0px !important;
    font-size: 20px;
}
.info-location p, h3 {
    font-family: 'Sansita Swashed', cursive;
    line-height: 28px;
}
.info-location h3 {
    color: #13A211;
    font-size: 36px;
}
.info-location p span {
    color: red;
    font-size: 26px;
}

.row > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
}

.row > div > div {
    background-color: #fff;
}
.row a{
    text-decoration: none;
}
.row .img-fluid{
    height: 197px;
    width: 350px;
}
.info-img .gia{
    color: #00c1de;
}
.btn-seting a{
    margin-right: 10px;
}
.fas{
    font-size: 28px;
}
.fa-trash-alt{
    transform: rotate(-15deg);
    transition: transform ease-in-out 0.2s;
}
.fa-trash-alt:hover{
    transform: rotate(15deg);
    transition: transform ease-in-out 0.2s;
}
.fa-wrench{
    transition: transform ease-in-out 0.1s; 
}
.fa-wrench:hover{
    transform: rotate(35deg);
    transition: transform ease-in-out 0.1s;
}

.info-tour{
    padding: 15px;
}
.info-tour h3 {
    color: #00c1de;
    font-weight: 500;
}
.margin-5{
    min-height: 24px;
}
.giaTien{
    font-weight: bold;
    font-size: 22px;
}
.form-inline{
    justify-content: center;
}
.row a{
    text-decoration: none!important;
}

/*===========CONTENT===========*/









/*button*/

.btn-success{
    color: white !important;
    border-width: 2px !important;
    border-bottom-style: solid !important;
    border-color: #f2c26f !important;
    border-radius: 20px !important;
    font-weight: 700 ;
    font-family: 'Pacifico', cursive ;
    font-size: 24px !important;
    background-color: rgba(255, 255, 255, 0) !important;
}

.btn-success:hover{
    color: white !important;
    background: #f2c26f !important;
}
.btn-danger{
    color: white !important;
    border-width: 2px !important;
    border-bottom-style: solid !important;
    border-color: rgb(255, 61, 61)!important;
    border-radius: 20px !important;
    font-weight: 700 ;
    font-family: 'Pacifico', cursive ;
    font-size: 24px !important;
    background-color: rgba(255, 255, 255, 0) !important;
}
.btn-danger:hover{
    color: white !important;
    background: rgb(255, 97, 97) !important;
}
.dat-them-tour .btn-seting a i{
    font-size: 16px;
}


/*============*/
